
/* Slider.css */
.carousel-image {
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .carousel-slide {
    position: relative;
    overflow: hidden;
  }
  
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 65, 95, 0.7); /* Light color with 50% opacity */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center; /* Center text */
    padding: 20px; /* Adjust padding as needed */
  }
  
  .carousel-overlay .carhead {
    margin-bottom: 20px; /* Optional: Adds margin below heading */
  }

  .carhead{
    margin-top: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 400%;
    font-weight: bolder;
    color: aliceblue;

  }
  @media (max-width: 768px) {
    .carhead {
      font-size: 18px;
    }
    
    .carousel-overlay {
      padding: 15px;
    }
  }
  .ant-card {
    width: 100%; /* Make cards fill the column */
    margin: 0 auto; /* Center cards in their columns */
  }
  .number-counter {
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    color: #fff;
  }
  
  .number-counter span {
    display: inline-block;
    animation: fadeIn 1s ease-in-out;
  }
  .countfoot{
    font-size: 150%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 100%;

  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  p {
    margin-top: 10px;
    font-size: 1rem;
    color: #fff;
  }
  